@use '../base/variables' as v;
@use '../base/mixins' as m;

footer {
    .footer__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        border-radius: 5rem;
        padding: 0.5rem 5rem;
        font-family: v.$secondary-font;
        background-color: v.$deep-black;

        @include m.tablet {
            flex-direction: row;
        }

        ul {
            display: inherit;
            gap: 2rem;
            list-style: none;

            li {
                transition: 0.2s;

                &:hover {
                    transform: scale(1.1);
                }
            }
        }
    }

    div {
        display: flex;
        flex-direction: row;
    }

    p {
        color: v.$white;
        text-align: center;
        margin: 0.5rem 0;
    }
}

.footer__icons {
    width: 5rem;

    @include m.tablet {
        width: 3rem;
    }
}
