@use '../base/variables' as v;
@use '../base/mixins' as m;

.nav {
    position: absolute;
    height: 50%;
    width: 100%;
    background-color: v.$almost-black;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: 0.5s;
    z-index: 1;

    @include m.tablet {
        position: fixed;
        top: 0%;
        left: 50%;
        transform: translateX(-50%);
        height: 5rem;
        width: 60%;
        margin: 2.5rem auto;
        padding: 1rem 5rem;
        border-radius: 5rem;
    }

    @include m.desktop {
        width: 40%;
    }

    ul {
        display: inherit;
        flex-direction: column;

        @include m.tablet {
            flex-direction: row;
            gap: 4rem;
        }

        li {
            display: inherit;
            justify-content: center;
            align-items: center;
            gap: 3rem;

            &:last-child {
                margin-top: 3rem;
            }

            @include m.tablet {
                margin-top: 0rem;
                gap: 1rem;

                &:last-child {
                    margin-top: 0rem;
                }
            }

            a {
                color: v.$lavender;
                font-size: 2.5rem;
                transition: 0.2s;

                &:hover {
                    color: v.$white;
                    transform: scale(1.2);
                }
            }

            .nav__img__link {
                width: 3.5rem;
                height: 3.5rem;

                &:hover {
                    transform: translateY(-0.5rem);
                    transform: scale(1.2);
                    filter: brightness(0) invert(1);
                }
            }
        }
    }
}

.nav__button {
    position: absolute;
    top: 5rem;
    right: 5rem;
    width: 4rem;
    filter: brightness(100) invert(0);
    transition: 0.2s;
    transform: scale(1.3);
    z-index: 1;

    &:hover,
    &:focus {
        cursor: pointer;
        filter: none;
    }

    @include m.tablet {
        display: none;
    }
}

.nav.active {
    transform: translateY(0);
}

.nav.shrunk {
    transform: translateX(-50%) scale(0.8);
    opacity: 0.8;
    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}
