@use '../../base/variables' as v;
@use '../../base/mixins' as m;

.projects {
    color: v.$white;
    position: relative;
    height: 85rem;
    transition: 0.2s;
    overflow: hidden;

    @include m.desktop {
        height: 70rem;
    }

    &__tittle {
        margin: 0;
        font-size: 3rem;

        @include m.desktop {
            margin-bottom: 0;
            font-size: 3.4rem;
        }
    }

    picture {
        @include m.desktop {
            margin-top: 2.5rem;
        }

        img {
            width: 100%;
            height: 25rem;
            border-radius: 5rem;

            @include m.desktop {
                width: 40rem;
            }
        }
    }

    &__container {
        transition: 0.5s;
        position: relative;
    }

    &__content {
        position: absolute;
        top: 100%;
        width: 100%;
        height: 50rem;

        &--1 {
            transform: translateX(-110%);
        }

        &--2 {
            transform: translateX(110%);
        }
    }

    &__item {
        background-color: v.$deep-black;
        padding: 1rem;
        border-radius: 5rem;
        position: absolute;
        width: 90%;
        left: 50%;
        transform: translateX(-50%);

        &:nth-child(1) {
            top: 10%;
        }

        &:nth-child(2) {
            top: 70%;
        }

        @include m.desktop {
            padding: 5rem;
            width: 50rem;
            top: 50%;
            left: auto;
            transform: translateY(-50%);

            &:nth-child(1) {
                left: 3.5rem;
                top: 60%;
                transform: translateY(-50%);
            }

            &:nth-child(2) {
                right: 2.5rem;
                top: 60%;
                transform: translateY(-50%);
            }
        }
    }

    &__name {
        margin: 0;
        display: none;

        @include m.desktop {
            display: block;
        }
    }

    &__date {
        color: v.$gray-dark;
        margin: 0;
        line-height: 0;
        font-size: 1.5rem;
        display: none;

        @include m.desktop {
            display: block;
        }
    }

    &__move_button {
        position: absolute;
        height: 50rem;
        top: 30%;
        width: 5rem;
        opacity: 0.2;
        transition: 0.2s;
        z-index: 5;
        background-color: #0000001a;
        border-radius: 5rem;

        @include m.tablet {
            top: 20%;
        }

        @include m.desktop {
            width: 3.5rem;
            background: none;
        }

        &:hover,
        &:focus {
            cursor: pointer;
            opacity: 1;

            img {
                transform: scale(3.5);
            }
        }

        &--1 {
            left: 1rem;
            transform: rotate(180deg);
        }

        &--2 {
            right: 1rem;
        }

        img {
            transition: 0.2s;
            transform: scale(3);
            width: 3rem;
            height: 3rem;
        }
    }
}
